@using TaskManagement.Domain.Models
@model TaskManagement.Domain.Dtos.IssueDto

@{
    ViewData["Title"] = "Create issue";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Create">
    
    <p>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name"/>
    </p>
    
    <p>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" ></textarea>
    </p>
    
    <p>
        <label asp-for="Executors"></label>
        <input type="text" asp-for="Executors"/>
    </p>
    
    <p>
        <label asp-for="Status"></label>
        <select asp-for="Status">
            <option>Assigned</option>
            <option>InProgress</option>
        </select>
    </p>
    
    <p>
        <label asp-for="EstimatedHours"></label>
        <input type="number" asp-for="EstimatedHours"/>
    </p>
    
    <p>
        <label asp-for="Deadline"></label>
        <input type="date" asp-for="Deadline"/>
    </p>

    <button type="submit">Create</button>

</form>
