@model TaskManagement.Domain.Dtos.IssueDto

@{
    Layout = null;
    ViewData["Title"] = "Edit issue";
}

<h2>@ViewData["Title"]</h2>

<form id="editForm">

    <p>
        <label asp-for="Id"></label>
        <input type="number" asp-for="Id" readonly/>
    </p>

    <p>
        <label asp-for="Name"></label>
        <input id="issueName" type="text" asp-for="Name"/>
    </p>

    <p>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" ></textarea>
    </p>

    <p>
        <label asp-for="Executors"></label>
        <input id="issueExecutors" type="text" asp-for="Executors"/>
    </p>

    <p>
        <label asp-for="Status"></label>
        <input type="text" asp-for="Status"/>
    </p>

    <p>
        <label asp-for="EstimatedHours"></label>
        <input type="number" asp-for="EstimatedHours"/>
    </p>

    <p>
        <label asp-for="Deadline"></label>
        <input type="date" asp-for="Deadline"/>
    </p>

    <button type="button" onclick="updateIssue(@Model.Id)">Edit</button>

</form>