@model IssuesListViewModel

@{
    ViewData["Title"] = "Issues";
}

@{
    foreach (var issue in Model.Issues)
    {
        <p>Name: @issue.Name</p>
        <p>
            <form method="post" asp-action="Delete" asp-route-id="@issue.Id">
                <button type="submit">Delete</button>
            </form>
        </p>
        <p>
            <a asp-action="Edit" asp-route-id="@issue.Id">Edit</a>
        </p>
    }
}
