@model IssuesListViewModel

@{
    ViewData["Title"] = "Issues";
}
<h3>Issues</h3>
@{
    foreach (var issue in Model.Issues)
    {
        <form method="post" asp-action="Delete" asp-route-id="@issue.Id">
            <a asp-action="Info" asp-route-id="@issue.Id">@issue.Name</a>
            <button type="submit">Delete</button>
        </form>
    }
}
