@model IssuesListViewModel

@{
    ViewData["Title"] = "Issues";
}
<div class="row">
    <div class="col-md-4" id="issuesList">
        
    </div>

    <div class="col-md-4" id="issue">
    </div>
</div>