@using TaskManagement.Domain.Models
@model IssuesListViewModel

@{
    Layout = null;
    ViewData["Title"] = "Issues list";
}

<h3>Issues</h3>
@{
    var parentsIssues = Model.Issues.Where(issue => issue.IssueId == null);

    async Task GenerateIssue(Issue issue)
    {
        <li>
            <a class="issueName" onclick="loadIssueInfo(@issue.Id)">@issue.Name</a>
            <button type="button" onclick="deleteIssue(@issue.Id)">Delete</button>
        </li>
        
        if (issue.SubIssues != null)
        {
            await RecursiveGenerateIssue(issue);
        }

    }

    async Task RecursiveGenerateIssue(Issue issue)
    {
        <li>
            <ul>
                @foreach (var subIssue in issue.SubIssues)
                {
                    await GenerateIssue(subIssue);
                }
            </ul>
        </li>
    }

    <ul>
        @foreach (var issue in parentsIssues)
        {
            await GenerateIssue(issue);
        }
    </ul>
}